!!!
%html
  %head
    %title MI6
    %link{ rel: "stylesheet", type: "text/css", href: "/stylesheets/screen.css" }
  %body
    %div#content
      Secret Agent Login Client
      %br
      %a{ href: '/files/secret_agent_client' } Download
      %br
      MD5: 51dbaac0067ab358406da2727a1d7815
    
    